*{
    font-family: 'Pirata One';
}
#header{
    background-color: black;
}

#loginbox{
    width: 850px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
#loginbox h1{

    color: white;
    font-weight: 900;
    font-size: 50px;
}



#loginbox .fieldbox {
    margin: 20px 5px;
    
}

#loginbox .fieldbox input{
    padding: 15px 10px;
    width: 500px;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 50px;
    transition: 0.5s;
    background-color: transparent;
    height: 50px;
    display: flex;
    font-size: 30px;
    color: white;
}
#loginbox .fieldbox input::placeholder{
    color: white;
    font-size: 30px;
}

#loginbox button{
    background-color: yellow;
    border: none;
    border-radius: 0px;
    padding: 10px 20px;
    color:black;
    font-size: 30px;
    font-weight: 900;
    transition: 0.5s;
    width: 500px;
    height: 70px;
    border-radius: 50px;
    margin-top: 50px;

}

#mainheader{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
}
#navbar{
    display: flex;
    justify-content: space-between;
    
    margin: 50px;
}

#navbar .stud-logo{
    display: flex;
    margin-right: 50px;
    cursor: pointer;
    
}
#navbar .staff-logo{
    display: flex;
    cursor: pointer;
}

#staff-head,
#stud-head{
    font-size: 25px;
    color: rgb(127, 125, 125);
    background-color: black;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin-left: -30px;
}
#staff-head:hover,
#stud-head:hover{
    color: white;
}




#so{
    background: #CDCFEE;
    height: 100vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
    box-shadow:  0px 0px 40px 40px #CDCFEE;
    display: flex;
}
    
  
#so .cont{
    position: relative;
    width:100px;
    height:100px;
    margin:0 300px;
    padding: 100px;
    cursor: pointer;
    
}

#so .cont .f1{
    position: absolute;
    
}
#so .cont .f2{
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 185px;
}
#so .cont .pic{
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 205px;
}
#so .cont .name{
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 205px;
    background-color: #E0C667;
    height: 40px;
    font-size: 30px;
    width: 150px;
    text-align: center;
        
}
        
    

#st{
    background: #CDCFEE;
    height: 100vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
    box-shadow:  0px 0px 40px 40px #CDCFEE;
    display: none;
    
}
  
  
#st .cont{
    position: relative;
    width:100px;
    height:100px;
    margin:0 300px;
    padding: 100px;
    cursor: pointer;
    
}

#st .cont .f1{
    position: absolute;
    
}
#st .cont .f2{
    position: absolute;
    z-index: 1;
    top: 150px;
    left: 185px;
}
#st .cont .pic{
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 205px;
}
#st .cont .name{
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 205px;
    background-color: #E0C667;
    height: 40px;
    font-size: 30px;
    width: 150px;
    text-align: center;
        
}
#stdetail-cont{
    display: flex;
    background-color: #3DB2D3;
    justify-content: space-around;
    margin: auto;
    box-shadow: inset 0 0 80px 50px black; /* inner box shadow - inset */
    border-radius: 30px;
    position: relative;
    width: 2000px;
}
#stdetail-cont .row{
    flex-basis: 45%;
    padding: 50px 0 50px 80px;
    
}
#stdetail-cont .row img{
    width: 600px;
    border-radius: 30px;
    background-color: gray;
    display: flex;
    margin-top: 100px;

}
#stdetail-cont .row h1{
    padding-left: 250px;
    font-size: 70px;
    font-weight: 600;
    color: white;
}
#myTable{
    width: 100%;
}
#myTable tr{
    margin-top: 50px;
    padding: 100px;
}
#myTable tr td{
    font-size: 60px;
    padding: 20px;
    color: white;
}
#stdetail-cont .st1logo{
    position: absolute;
    top: -150px;
}
#stdetail-cont .st1logo img{
    height: 350px;
}
        
    /*----------------------------------------------------responsive-------------------------*/

    @media(max-width:1000px){
        #loginbox{
            width: 300px;
            height: 500px;
        }
        #loginbox .fieldbox input{
            width: 300px;
            height: 30px;
            font-size: 20px;

        }
        #loginbox button {
            width: 350px;
            height: 60px;
            margin-top: 20px;
        }
        #logo img{
            width: 150px;
            height: 80px;
        }
        #navbar .stud-logo img,
        #navbar .staff-logo img{
            
            display: none;
        }
        #staff-head, #stud-head {
            
            
        }
        #navbar{
            margin: 10px;
        }
        #st{
            width: 300px;
            height: 100vh;
        }
        #st .cont{
            position: relative;
            
            width:100px;
            height:100px;
            margin:50px -70px;
            padding: 100px ;
            
        }
        #so{
            width: 300px;
            height: 100vh;
        }
        #so .cont{
            position: relative;
            
            width:100px;
            height:100px;
            margin:50px -70px;
            padding: 100px ;
            
        }
        #stdetail-cont{
        
        flex-direction: column;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 100vh;
        
        }

        #stdetail-cont .row{
            padding: 10px;
        }
        #stdetail-cont .row:nth-child(1){
            position: absolute;
            bottom: 0;

        }
        #stdetail-cont .row:nth-child(2){
            position: absolute;
            top: 20px;
        }
        #stdetail-cont .row img{
            width: 250px;
            margin-top: 50px;
        }
        #stdetail-cont .row h1{
    font-size: 30px;
    font-weight: 600;
    padding: 0;
    text-align: center;
    
        }
        #myTable{
            
       
    }
        #myTable tr{
    margin-top: 20px;
    padding: 0px;
}
#myTable tr td{
    font-size: 20px;
    padding-top: 20px;
}
#stdetail-cont .st1logo{
    position: absolute;
    top: -50px;
    
}
#stdetail-cont .st1logo img{
    

    height: 100px;
}

    }